/*@font-face {
font-family: 'SEGA LOGO FFONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FFONT'), url('SEGA.woff') format('woff');
}


h1{
	font-family: 'SEGA LOGO FFONT';
	font-weight: 200;
	color: #Bccac4;
}*/